.results {
  margin: 0;
  padding: 0 0 2rem;
  background-color: darkslategray;

  h3 {
    color: bisque;
    padding: $small;
  }

  ul {
    list-style: none;
    padding: $medium;
    margin: $small;
    background-color: bisque;
    border-radius: 0.5rem;
  }
}