<div id="container">
  <div class="question">
    <h3>{{question}}</h3>
    <ul class="answersList">
      {{#each answers}}
        <li data-answerId="{{id}}">{{label}}</li>
      {{/each}}
    </ul>
  </div>
</div>