<div id="container">
  <div class="slider">
    <p>How happy are you today?</p>
    <div class="slider-container">
      <input type="range" min="1" max="100" value="50" class="promptSlider" id="answerRange">
    </div>
  </div>
  <div class="question hidden">
    <h3>{{question}}</h3>
    <ul class="answersList">
      {{#each answers}}
        <li data-answerId="{{id}}">{{label}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="result"></div>
</div>